* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins;
}
.foto-user {
  background-color: rgb(117, 117, 117);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.wave img {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;

  z-index: -999;
}

.logo {
  margin-left: 10rem;
}
nav {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  margin-right: 10rem;
}
.user .nama {
  margin-top: 2rem;
  margin-right: 2rem;
  color: black;
}
.halo {
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.halo h1 {
  font-size: 4rem;
}
.halo p {
  font-size: 3rem;
}
.fungsi {
  display: flex;
  width: 70%;
  justify-content: flex-start;
  margin-left: 10rem;
  flex-wrap: wrap;
}
.fungsi a {
  text-decoration: none;
}
.fungsi .konsultasi {
  height: 25rem;
  width: 15rem;
  background-color: #164886;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
}
.fungsi .antrian {
  height: 25rem;
  width: 15rem;
  background-color: #0d7286;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
}
.fungsi .riwayat {
  height: 25rem;
  width: 15rem;
  background-color: #5fb2bd;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
  margin-bottom: 3rem;
}
.fungsi .hasil {
  height: 25rem;
  width: 15rem;
  background-color: #f7b702;
  border-radius: 1rem;
  margin-right: 3rem;
  box-shadow: 5px 8px 10px #888888;
}
.konsultasi img {
  width: 10rem;
  width: 10rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
  box-shadow: black;
}
.konsultasi h1 {
  color: white;
  margin-left: 1.2rem;
}
.konsultasi p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.antrian img {
  width: 10rem;
  width: 10rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
}
.antrian h1 {
  color: white;
  margin-left: 1.2rem;
}
.antrian p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.riwayat img {
  width: 10rem;
  width: 7.7rem;
  margin-top: 3rem;
  margin-left: 3.2rem;
}
.riwayat h1 {
  color: white;
  margin-left: 1.2rem;
}
.riwayat p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.hasil img {
  width: 15rem;
  height: 10rem;
  margin-top: 3rem;
  margin-left: -1.5rem;
}
.hasil h1 {
  color: white;
  margin-left: 1.2rem;
}
.hasil p {
  color: white;
  font-weight: lighter;
  margin-left: 1.2rem;
}

.dot img {
  width: 10rem;
  height: 15rem;
  position: absolute;
  top: 5rem;
  right: 45rem;
}
.foto .data a {
  text-decoration: none;
  color: black;
}

.suster img {
  position: absolute;
  width: 20rem;
  height: 50rem;
  bottom: 0;
  right: 15rem;
  z-index: -9;
}

@media only screen and (max-width: 1110px) {
  body {
    overflow-x: hidden;
  }
  .dot {
    display: none;
  }
  .fungsi {
    justify-content: center;
    margin: auto;
  }
  .suster img {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .user {
    flex-direction: column;
    margin-right: 5rem;
  }
  .logo {
    margin-left: 5rem;
  }
}
