* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: Poppins;
}

.logo img {
	margin-left: 5rem;
	margin-top: 4rem;
}
#waveleft {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 40%;
	height: 80%;
}
#waveright {
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	width: 50%;
	height: 80%;
}
.teks {
	width: 40rem;
	margin: auto;
}
.teks h1 {
	width: 30rem;
	margin: auto;
	font-size: 5rem;
}
.teks p {
	font-size: 1.5rem;
	margin-top: -1rem;
}

.account {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	margin-top: 5rem;
}
.photo {
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	background-color: grey;
	margin-right: 2rem;
}
.user {
	margin-top: 1.3rem;
	font-weight: lighter;
}
.user h1 {
	font-size: 2rem;
}
.user p {
	font-size: 1.5rem;
	margin-top: -0.3rem;
}
.foto a {
	text-decoration: none;
	color: black;
	margin-left: 1.5rem;
	margin-top: 0.5rem;
}
span {
	display: inline-block;
	color: #f7b702;
}
.layanan {
	width: 50rem;
	height: 30rem;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
.pasien {
	width: 50rem;
	height: 7rem;
	background-color: #0d7286;
	border-radius: 40px;
	color: white;
	font-size: 2.5rem;
	font-family: Poppins;
	border: none;
	text-align: center;
	padding: 1.5rem 0;
}
.obat {
	margin-top: 2.5rem;
	width: 50rem;
	height: 7rem;
	background-color: #0d7286;
	border-radius: 40px;
	color: white;
	font-size: 2.5rem;
	font-family: Poppins;
	border: none;
	text-align: center;
	padding: 1.5rem 0;
}
.last {
	margin-top: 2.5rem;
	width: 50rem;
	height: 7rem;
	background-color: #0d7286;
	border-radius: 40px;
	color: white;
	font-size: 2.5rem;
	font-family: Poppins;
	border: none;
	text-align: center;
	padding: 1.5rem 0;
}
.last a,
.pasien a,
.obat a {
	text-decoration: none;
	color: white;
	display: block;
}

@media only screen and (max-width: 1110px) {
	#waveleft {
		display: none;
	}
	.pasien,
	.obat {
		width: 40rem;
		margin: 20px auto;
	}
}

@media only screen and (max-width: 678px) {
	.account {
		flex-direction: column;
	}
	#waveright {
		width: 75%;
	}
}
