* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: Poppins;
}
.foto-user {
	background-color: rgb(117, 117, 117);
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}

.wave img {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;

	z-index: -999;
}

.logo {
	margin-left: 10rem;
}
.back img {
	transform: rotate(180deg);
	width: 2.5rem;
	height: 2.5rem;
}
.back {
	margin-top: 1rem;
	display: flex;
	margin-left: 9.5rem;
}
.back p {
	margin: auto;
	color: #f7b702;
}
.back a {
	text-decoration: none;
	margin: auto;
	font-size: 1.5rem;
}
nav {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user {
	display: flex;
	margin-right: 10rem;
}
.user .nama {
	margin-top: 2rem;
	margin-right: 2rem;
	color: black;
}
.halo {
	margin-left: 10rem;
	margin-top: 3rem;
	margin-bottom: 4rem;
}
.halo h1 {
	font-size: 4rem;
}
.halo p {
	font-size: 3rem;
}

.dot img {
	width: 10rem;
	height: 15rem;
	position: absolute;
	top: 5rem;
	right: 45rem;
}
.foto .data a {
	text-decoration: none;
	color: black;
}
.container {
	margin-top: -4rem;
	position: relative;
	width: 70%;
	margin-left: -15rem;
}
.dokter img {
	position: absolute;
	top: 10rem;
	width: 20rem;
	height: 50rem;
	right: -45rem;
}
.teks {
	position: absolute;
	left: 25rem;
	top: 5rem;
	font-size: 2.5rem;
}
.teks p {
	font-size: 1.5rem;
	margin-top: -1.5rem;
}

.bunga img {
	position: absolute;
	bottom: 5rem;
	right: 5rem;
	width: 20rem;
	height: 20rem;
}
@media only screen and (max-width: 1110px) {
	body {
		overflow-x: hidden;
	}
	.dot {
		display: none;
	}
	.fungsi {
		justify-content: center;
		margin: auto;
	}
	.suster img {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.user {
		flex-direction: column;
		margin-right: 5rem;
	}
	.logo {
		margin-left: 5rem;
	}
	.dokter {
		display: none;
	}
	.back {
		margin-left: 4rem;
	}
	.teks {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media only screen and (max-width: 900px) {
	.bunga {
		display: none;
	}
}

@media only screen and (max-width: 800px) {
	.dokter img {
		width: 15rem;
		height: 35rem;
	}
}
